.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;

    @media screen and (max-width: 479px) {
        padding: 15px;
    }
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}
