.footer {
    background-color: var(--footer-bcg);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 1199.98px) {
        text-align: center;
    }
}

.footer__container {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.footer__logo {
    margin-bottom: 20px;
}

.address-container {
    @media screen and (max-width: 1199.98px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}

.social-list-container {
    @media screen and (max-width: 767.98px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: auto;
    }
}
