.footer {
    background-color: var(--footer-bcg);
}

.address-container {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px;
}

.footer__logo {
    margin-bottom: 20px;
}

.social-list-container {
    margin-right: auto;
}
