.icons-list {
    display: flex;
    justify-content: center;
}

.icons-list__item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.icons-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--focus-color);
        fill: var(--third-color);
    }
}

.icons-list__link--color {
    background-color: var(--footer-social-bcg);
    fill: var(--third-color);
}

.icons-list__icon {
    display: block;
}
