.navigation {
    display: flex;
    margin-right: auto;
}

.navigation__logo {
    padding-top: 16px;
    padding-bottom: 15px;

    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 25px;
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 93px;
    }
}

.site-nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.site-nav__item {
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.site-nav__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 31px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--focus-color);
    }

    &--current {
        color: var(--focus-color);

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--focus-color);
        }
    }
}
