// общие стили заголовков для секций activities, team и clients
.activities__title,
.team__title,
.clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.179;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.167;
        margin-bottom: 50px;
    }
}
// общие стили заголовков для секций activities, team и clients
