:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --third-color: #ffffff;
    --focus-color: #2196f3;
    --examples-card-pic-bcg: rgba(33, 150, 243, 0.9);
    --hero-bcg: #c4c4c4;
    --hero-bcg-gradient: rgba(47, 48, 58, 0.4);
    --activities-li-title-bcg: rgba(47, 48, 58, 0.8);
    --footer-bcg: #2f303a;
    --studio-text-color: #000000;
    --footer-contact: rgba(255, 255, 255, 0.6);
    --footer-social-bcg: rgba(255, 255, 255, 0.1);
    --filter-button-color: #f5f4fa;
    --examples-card-border: #eeeeee;
    --icons-fill: #afb1b8;
    --form-input-border: rgba(33, 33, 33, 0.2);
}
